<div class="container text-center">
    <div class="row m-5">
        <div class="col d-flex justify-content-center">
            <div class="card align-items-center p-2">
        
                <img src="http://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" alt="no image">
        
                <div class="card-body">
                    <h4 class="card-title">{{movie.original_title}}</h4>
                    
                    <p>overview:{{movie.overview}}</p>
                    <p>type:{{movie.media_type}}</p>
                    <h5>ReleaseDate:{{movie.release_date}}</h5>
                    <h5>Ratings:{{movie.vote_average}}</h5>
                    <h5>Language:{{movie.original_language}}</h5>
        
                </div>
        
            </div>
        
        </div>
    </div>
</div>